@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   The Great Lakescape Lodge Layout Styles
   Filename: lake_layout.css
*/

/* Structural Styles */

body {
	margin: 0 auto;
	width: 100%;
	max-width: 1020px;
	min-width: 640px;
	/*墨绿色左右边框*/
	border-left: 15px solid rgb(203, 204, 138);  
	border-right: 15px solid rgb(203, 204, 138);  
	display: grid;
	grid-template-areas: /*定义网格区域名称*/
		"header header"
		"leftcol rightcol"
		"footer footer";
	grid-template-columns: 70% 30%;/* 左右占比 */
	padding: 0; /* 确保内容无内边距 */
}
body > header {
	grid-area: header;
}

body > header > img {
	width: 100%;
	display: block;
	margin: 0;
}

body > section#leftcol {
	grid-area: leftcol;
}

body > section#rightcol {
	grid-area: rightcol;
}

footer {
	grid-area: footer;
}

/* Reset box-sizing for all elements */
address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, ol, p, section, span, ul {
   box-sizing: border-box;  
}

/* Header Navigation */
header > nav {
	display: table;
	width: 100%;
}

header > nav > ul {
	display: table-row;
	list-style-type: none;
}

header > nav > ul > li {
	display: table-cell;
	text-align: center;
}

header > nav a {
	display: block;
	width: 100%;
}

/* Section Layout */
section#leftcol aside {
	width: 43%;
	float: left;/*向左浮动，周围的内容围绕它排列*/
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 20px;
}

section#leftcol img {
	width: 100%;
	display: block;
}
section#leftcol>p{/*内容左右边距*/
	padding-left: 2%;
	padding-right: 2%;
}

